# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db


#Firebase credentials
/src/app/api-keys.ts





<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDjUz5GJjQdRyYi5SjiCsjtIiuYLYcz9w4",
    authDomain: "online-store-23ee4.firebaseapp.com",
    databaseURL: "https://online-store-23ee4.firebaseio.com",
    projectId: "online-store-23ee4",
    storageBucket: "online-store-23ee4.appspot.com",
    messagingSenderId: "635959220341"
  };
  firebase.initializeApp(config);
</script>
