
<nav class="navbar navbar-expand-lg navbar-reverse">
  <div class="container">
  <a class="navbar-brand" href="#">Epicodus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink='about'>About <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink='marketplace'>Marketplace</a>
    </div>
  </div>
</div>
</nav>

<div class="container my-5">
  <h1>{{ title }}</h1>
  <router-outlet></router-outlet>
</div>


<footer class="footer">
  <div class="container">
    <a routerLink='admin' class="text-muted">Admin</a>
  </div>
</footer>
